body {
    margin: 0px;
}

.main-1 {
    background-color: #F2F2F2;
}

.header-logo{
    margin: none;
    padding: none;
    width: 200px;
    height: 50px;
}

.button-1 {
    display: inline-block;
    position: relative;
    padding: 3px 20px;
	border-radius: 100px;
    text-decoration: none;
    color: white;
    background-color: black;
}

.button1 {
    margin: 0px;
    padding-top: 20px;
    padding-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

.introduce h4 {
    text-align: center;
    padding-top: 80px;
    margin: 0px 0px;
    font-size: 60px;
}

.introduce h3 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 35px;
    margin-top: 0px;
    font-size: 23px;
}

.button-2 {
    display: inline-block;
    position: relative;
    padding: 13px 60px;
	border-radius: 100px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
}

.button2 {
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

.button2 p {
    text-align: center;
    font-size: 13px;
}

.main-1 h2 {
    text-align: center;
    font-size: 18px;
    padding: 40px;
}

.main-2-img {
    text-align: right;
    padding-right: 0px;
    padding-top: 200px;
}

.main-2-txt {
    position: relative;
}

.main-2-txt h2 {
    position: relative;
    bottom: 370px;
    font-size: 35px;
    padding-left: 70px;
}

.main-2-txt h3 {
    position: absolute;
    bottom: 200px;
    font-size: 20px;
    padding-left: 70px;
}

.main-3 {
    background-color: #E6E6E6;
}

.main-3 h2,h3 {
    text-align: center;
}

.main-3 h2 {
    font-size: 40px;
    padding-top: 90px;
}

.contents-item1 {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    padding: 10px;
}

.contents2 {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 80px;
    border-bottom: solid #A4A4A4;
}

.contents2-item {
        flex-basis: 50%;
        border-bottom: 1px dotted #000;
        display: flex;
        box-sizing: border-box;
}

.contents2-img {
    padding: 10px;
            display: flex;
            align-items: center;
            flex-basis: 30%;
            background: #b7b6c9;
            justify-content: center;
}

.contents2-text {
    padding: 10px;
            display: flex;
            align-items: center;
            flex-basis: 70%;
}

img {
    max-width: 100%;
    height: auto;
}

.button-3 {
    display: inline-block;
    position: relative;
    padding: 13px 60px;
	border-radius: 100px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
}

.button3 {
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

.button3 p {
    text-align: center;
    font-size: 13px;
    padding-bottom: 100px;
    margin: 0;
}

.img {
    width: 1000px;
    height: 80px;
}

.footer-img {
    position: relative;
    width: 100%;
    height: 50px;
}

.main-4 {
    background-color: #0B0B61;
    color: white;
    margin: 0px;
    padding: 30px 0px;
    text-align: center;
}

.main-5 {
    text-align: center;
    background-color: #BDBDBD;
    padding-bottom: 100px;
}

.main-5 h2 {
    margin: 0;
    padding-top: 30px;
}

.button-4 {
    display: inline-block;
    position: relative;
    padding: 13px 60px;
	border-radius: 100px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
}

.button4 {
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

.button-5 {
    display: inline-block;
    position: relative;
    padding: 13px 60px;
	border-radius: 100px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
    background-image: linear-gradient(to bottom, #00BFFF 0%, #00FFFF 100%);
}

.button5 {
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

.main-6 {
    text-align: center;
    background-color: white;
}

footer {
    background-color: #0B0B61;
    padding: 15px 0px;
}

.footer {
    text-align: right;
}
